{$HALA_DOMAIN} {
	import /etc/caddy/access.caddy
	encode zstd gzip
	request_body {
		max_size 100KB
	}
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "microphone=(self), camera=()"
		X-Frame-Options DENY
		-Server
	}
	handle /api/* {
		reverse_proxy backend:8010
	}
	handle {
		reverse_proxy frontend:3000
	}
}
